<div class="col col-12 col-sm-11 col-md-10 mt-3 me-auto ms-auto">
    <button class="btn btn-secondary text-center w-100 p-1" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#$DOCUMENT_MENU_OFFCANVAS_ID_REF1" aria-controls="$DOCUMENT_MENU_OFFCANVAS_ID_REF2">
        $DOCUMENT_MENU_BUTTON_NAME
    </button>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="$DOCUMENT_MENU_OFFCANVAS_ID_REF3"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">$DOCUMENT_MENU_OFFCANVAS_NAME Documents</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            $DOCUMENT_MENU_OFFCANVAS_OPTIONS
        </ul>
    </div>
</div>