<div class="container-fluid row">
    <h1>Image Management</h1>
    <div class="col-3">
        <form action="/images" method="POST" enctype="multipart/form-data">
            <div class="row row-cols-1">
                <div class="col mb-3">
                    <input class="form-control" name="file" type="file" accept="image/*" required>
                </div>
                <div class="col mb-3">
                    <input class="form-control" name="name" placeholder="image name" required>
                </div>
                <div class="col mb-3">
                    <input class="form-control" name="description" placeholder="short description" required>
                </div>
                <div class="col mb-3">
                    <select name="collection" id="collection" class="form-select" aria-label="Default select example">
                        $CREATE_IMAGES_TYPES_OPTIONS
                    </select>
                </div>
                <div class="col mb-3">
                    <button type="submit" class="btn btn-primary" onclick="uploadImage()">Upload</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-8 border">
        <div class="row row-cols-2 p-3">
            $SHOW_IMAGES_LIST
        </div>
    </div>
</div>
<input type="text" id="userid" name="userid" value="$USER_ID" style="display: none;" />
<script src="/js/images.js"></script>

<script>
    function copyImageUrl(fileName) {
        var textToCopy = '/images/uploads/' + fileName;
        var tempInput = document.createElement("input");
        tempInput.value = textToCopy;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput)
        var alertBox = document.createElement("div");
        alertBox.textContent = "image path copied"
        alertBox.classList.add("notification");
        document.body.appendChild(alertBox);
        setTimeout(function () {
            document.body.removeChild(alertBox);
        }, 2000);
    }
</script>