<div class="container-fluid p-4">
    <h2>List of images</h2>
    <div class="row row-cols-3">
        $SHOW_IMAGES_LIST
    </div>
</div>
<script>
    const socket = io();
    function deleteImage(id, fileName) {
        socket.emit('client deletes an image', { id: id, fileName: fileName })
    }
    function copyImageUrl(fileName) {
        var textToCopy = '/images/uploads/' + fileName;
        var tempInput = document.createElement("input");
        tempInput.value = textToCopy;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput)
        var alertBox = document.createElement("div");
        alertBox.textContent = "image path copied"
        alertBox.classList.add("notification"); // Apply the CSS class
        document.body.appendChild(alertBox);

        setTimeout(function () {
            document.body.removeChild(alertBox);
        }, 2000); // 2 seconds
    }
    
    socket.on('an image was deleted', (data) => {
        window.location.reload();
    }) 
</script>
<style>
    .notification {
        position: absolute;
        top: 56px;
        left: 250px;
        background-color: #f0f0f0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>