<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-3 me-5">
            <div class="row ms-4 mb-5 border border-4 p-2">
                <h5>Creating Collection</h5>
                <input type="text" id="userid" name="userid" value="$USER_ID" style="display: none;" />
                <div class="row mb-3">
                    <div class="col-8">
                        <select name="collectioncategory" id="collectioncategory" class="form-select"
                            aria-label="Default select example">
                            $CREATE_CATEGORY_OPTIONS
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <input class="form-control" id="collectionname" name="collectionname"
                            placeholder="Collection name...">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <input class="form-control" id="collectiontype" name="collectiontype"
                            placeholder="Collection type...">
                    </div>
                </div>
                <button id="collectionCreateButton" class="btn btn-primary" onclick="createCollection()" disabled>Create</button>
            </div>
            <div class="row ms-4 mb-5 border border-4 p-2">
                <h5>Creating Category</h5>
                <div class="row mb-3">
                    <div class="col-12">
                        <input class="form-control" id="categoryname" name="categoryname"
                            placeholder="Collection name...">
                    </div>
                </div>
                <button id="categoryCreateButton" class="btn btn-primary" onclick="createCategory()" disabled>Create</button>
            </div>
        </div>
        <div class="col-8 ms-5 p-4 border">
            <h5>Editing Collections</h5>
            <div id="collections-list" class="row row-cols-4">
                $COLLECTIONS_LIST
            </div>
        </div>
    </div>
</div>
<script src="/js/user.js"></script>