<div class="col card p-0 image-container">
    <div class="card-header">
        <div class="row">
            <div class="col">
                $IMAGE_NAME
            </div>
        </div>
    </div>
    <div class="card-body text-center">
        <img class="rounded mx-auto d-block image-item" src="/images/uploads/$FILENAME">
    </div>
    <div class="card-footer">
        <div class="row row-cols-2">
            <div class="col col-auto p-1">
                <button class="btn btn-danger image-menu-button" onclick="deleteImage('$FILEID_DELETE', '$FILENAME_DELETE')">Delete</button>
            </div>
            <div class="col col-auto p-1">
                <button class="btn btn-warning image-menu-button" onclick="copyImageUrl('$FILENAME_COPY')">Copy Path</button>
            </div>
        </div>
    </div>
</div>

<style>
    .image-menu-button{
        font-size: 10px;
    }
    .image-item{
        max-width: 100%;
        max-height: 100vh;
    }
</style>