.image-menu-button {
    font-size: 10px;
}

.image-item {
    max-width: 100%;
    max-height: 100vh;
}

.modal-content {
    width: 175%;
}

.modal-body img {
    max-height: 75vh;
    padding-left: 0;
}